
.home-main-navigation {


}

.wd-button {
  background: #33A4D5;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  &:hover, &:focus {
    background: #2792C9;
  }
}

.wd-button-white{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #33A4D5;
  border: 1px solid #33A4D5;
  box-sizing: border-box;
  border-radius: 3px;
  background: #ffffff;

  &:hover, &:focus {
    background: #ffffff;
    border: 1px solid #2792C9;
    box-sizing: border-box;
    border-radius: 3px;
  }
}

.wd-100 {
  width: 100%;
}

.home-slider-top {
  position: relative;
  margin-top: -400px;

  .items {
    .item {
      border: 1px solid red;
    }
  }
}

.bread-crumbs-container {
  ul {
    list-style: none;
    padding: 0;
    li {
      float: left;
      margin-right: 10px;
      a {
        color: #33A4D4;
      }
      &:last-child {
        color: #949BA4;
      }
      &:before {
        content: "/"
      }
      &:first-child {
        &:before {
          content: ""
        }
      }
    }
  }
}

.contacts-info-container {

  .contact-info {

    border: 1px solid #33A4D5;
    box-sizing: border-box;
    margin-top: 150px;

    .image-bg{
      background: #D6E1F0;
      width: 500px;
      height: 425px;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

    .image-bg2 {
      background: url('./images/contact-info-bg.png') no-repeat bottom right;
      width: 662px;
      height: 550px;
      position: absolute;
      bottom: -23px;
      right: -1px;
    }

    .title1 {
      font-family: "Montserrat Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #3D4C68;
      opacity: 0.7;
      margin-bottom: 10px;
    }

    .title2 {
      font-family: "Montserrat Medium";
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    .title3 {
      font-family: "Gilroy-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #3D4C68;
      margin-bottom: 35px;
    }
    .contact-info-wrapper {
      padding-top: 69px;
      padding-bottom: 69px;
      padding-left:101px;
      font-family: "Gilroy-Medium";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #3D4C68;
    }
  }
}

.home-nav-curses {

  position: relative;
  width: 950px;
  height: 185px;
  margin: 0 auto;
  margin-top: -400px;

  .home-nav-curses-conteiner {
    width: 100%;
    height: 100%;
    position: relative;

    .left-arrow{
      width:50px;
      height: 50px;
      background: #051127;
      border-radius: 50%;
      line-height: 50px;
      position: absolute;
      top: 40%;
      left: -25px;
      z-index: 1; cursor: pointer;
    }

    .right-arrow {
      width:50px;
      height: 50px;
      background: #051127;
      border-radius: 50%;
      line-height: 50px;
      position: absolute;
      top: 40%;
      right: -25px;
      z-index: 1;
      cursor: pointer;
    }

    .items {
      .items-bg {
        background: #051127;
        border-radius: 3px;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .item-container {
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: left;

        .item {

          .title-sub {
            margin-top: 34px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #D6E1F0;
          }

          .title {
            margin-top: 10px;
            font-family: "Montserrat Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 34px;
            color: #FFFFFF;
          }

          .image {
            margin-top: -25px;
            margin-left: 40px;
          }

          .price-container{
            margin-top: 20px;
          }

          .price-before {
            color: #33A4D5;
            text-decoration-line: line-through;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
          }

          .date {
            font-family: "Gilroy-Medium";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #D6E1F0;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.curses-useful-container {
  position: relative;
  height: 155px;

  .box {
    width: 754px;
    height: 294px;
    background: #FFFFFF;
    box-shadow: 0px -80px 50px rgba(17, 33, 62, 0.15);
    border-radius: 3px;
    text-align: center;
    position: absolute;
    left: 30%;
    margin-top: -130px;
    padding: 52px 52px 5px;

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      color: #085F97;
      line-height: 52px;
    }

    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #0A2555;
      line-height: 30px;
    }
  }

}

.type-curses-block-container {

  .box {
    width: 754px;
    height: 294px;
    background: #FFFFFF;
    box-shadow: 0px -80px 50px rgba(17, 33, 62, 0.15);
    border-radius: 3px;
    text-align: center;
    position: relative;
    margin-top: -130px;
    padding: 52px 52px 5px;
    margin: 0 auto;

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      color: #085F97;
      line-height: 52px;
    }

    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #0A2555;
      line-height: 30px;
    }
  }

  @import 'node_modules/flexbox-grid-mixins/sass/flexbox-grid-mixins';

  $default-grid-gutter: 2%;

  @include grid($gutter: $default-grid-gutter, $flex-flow: row wrap);

  .block-one {

    .block1, .block2, .block3, .block4 {
      .title {
        padding: 0 34px 10px;
        font-family: "Montserrat Medium";
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        line-height: 34px;
        color: #085F97;
      }

      .desc {
        font-family: "Gilroy-Medium";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0 34px 10px;
      }
    }

    .block1, .block2, .block3 {

      position: relative;

      background: #FFFFFF;
      box-shadow: 0px 5px 20px rgba(17, 33, 62, 0.15);
      border-radius: 3px;

      padding: 45px;

      &:before {
        background: url(./images/corner-top-left.svg) no-repeat;
        top: 20px;
        left: 20px;
        position: absolute;
        content: "";
        width: 269px;
        height: 204px;
      }

      &:after {
        background: url(./images/corner-bottom-right.svg) no-repeat;
        bottom: 20px;
        right: 20px;
        position: absolute;
        content: "";
        width: 269px;
        height: 204px;
      }

    }

    .block1 {
      @include media(mobile) {
        @include grid-col($col: 12, $gutter: $default-grid-gutter);
      }
      @include media(tablet) {
        @include grid-col($col: 6, $gutter: 20px);
      }
      @include media(desktop) {
        @include grid-col($col: 6, $gutter: $default-grid-gutter);
      }
    }

    .block2 {
      @include media(mobile) {
        @include grid-col($col: 12, $gutter: $default-grid-gutter);
      }
      @include media(tablet) {
        @include grid-col($col: 6, $gutter: 20px);
      }
      @include media(desktop) {
        @include grid-col($col: 6, $gutter: $default-grid-gutter);
      }
    }

    .block3 {
      @include media(mobile) {
        @include grid-col($col: 12, $gutter: $default-grid-gutter);
      }
      @include media(tablet) {
        @include grid-col($col: 6, $gutter: 20px);
      }
      @include media(desktop) {
        @include grid-col($col: 12, $gutter: $default-grid-gutter);
        height: 260px;
      }
    }

    .block4 {

      position: relative;

      @include media(tablet) {
        display: block;
        @include grid-col($col: 12, $gutter: $default-grid-gutter);
      }

      @include media(tablet) {

        display: block;
        @include grid-col($col: 6, $gutter: 20px);

        background: url(./images/bg2.jpeg) no-repeat;
        background-size: 417px 273px, cover;
        background-position: -3px, 0;
        border-radius: 3px;

        height: 180px;
      }

      @include media(desktop) {
        display: none;
      }
    }

    @include media(mobile) {
      @include grid-col($col: 12, $gutter: $default-grid-gutter);
    }

    @include media(tablet) {
      @include grid-col($col: 12, $gutter: $default-grid-gutter);
    }

    @include media(desktop) {
      @include grid-col($col: 8, $gutter: $default-grid-gutter);
    }
  }

  .block-two {

    @include grid-col($col: 4, $gutter: $default-grid-gutter);

    @include media(mobile) {
      display: none;
    }

    @include media(tablet) {
      display: none;
    }

    @include media(desktop) {
      display: block;
    }
  }

  @include media(desktop) {
    margin-top: -130px !important;
  }

}

.action-block-container {

  margin-top: 100px !important;
  position: relative;
  color: #fff;

  background: url(./images/bg3.jpeg) no-repeat;
  background-size: 2400px 1600px, cover;
  background-position: -3px, 0;

  .action-block-container-bg {
    background: linear-gradient(90deg, #0A2555 53.38%, rgba(10, 37, 85, 0) 100%);
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .action-block-content-container {
    position: relative;
    height: 100%;
  }

  .title {
    padding-top: 80px;
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
  }

  .desc {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .button-container {
    padding-bottom: 86px;
    margin-top: 30px;
  }

}

.welcome-container {

  margin-top: 122px !important;
  position: relative;

  .sign1 {
    position: absolute;
    top: 0;
    right: 0;
    background: url('./images/sign1.svg') no-repeat;
    height: 48px;
    width: 60px;
  }

  .title {
    color: #085F97;
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    width: 300px;
    margin-bottom: 35px;
  }

  .desc1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0A2555;
  }

  .desc2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #3D4C68;
  }

  .button-container {
    margin-top: 35px;
  }
}

.instagram-container {

  margin-top: 100px !important;

  overflow: hidden;

  .title-block {
    .title {
      text-transform: uppercase;
      color: #33A4D5;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }
  }

  .instagram-images-container {
    display: inline-flex;

    > div {
      margin-right: 20px;
    }
  }

}

.what-is-learn-container {

  margin-top: 100px !important;

  overflow: hidden;

  .title {
    color: #085F97;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 18px;
  }

  .desc {
    color: #0A2555;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .what-is-learn-image-container {
    display: inline-flex;

    > div {
      margin-right: 20px;
    }
  }

  .what-is-learn-image-nav-container {
    display: inline-flex;

    > div {
      margin-right: 20px;

    }
  }

}

.how-to-learn-container {

  margin-top: 100px;

  .title {
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #085F97;
  }

  .content {
    text-align: center;
  }
}

.stay-is-master-container {

  margin-top: 100px !important;

  overflow: hidden;

  .title {
    font-family: "Montserrat Medium";
    color: #085F97;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    width: 656px;
    margin-bottom: 60px;
  }


  .stay-is-master-items-container {

    display: inline-flex;

    .item {

      width: 300px;
      margin-right: 44px;

      .item-image {
        margin-bottom: 30px;
      }

      .item-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #085F97;
        margin-bottom: 10px;
      }

      .item-desc {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #3D4C68;
        margin-bottom: 16px;
      }

    }

  }

}

.history-success-container {

  background: url(./images/bg4.jpeg) no-repeat;
  background-size: 1400px 637px, cover;
  background-position: center;

  position: relative;
  height: 637px;

  overflow: hidden;

  margin-top: 100px;

  .history-success-container-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(32.43% 73.89% at 50% 50%, rgba(10, 37, 85, 0.35) 0%, rgba(10, 37, 85, 0.5) 100%);
  }

  .history-success-content-container {
    position: relative;
  }

  .title {
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .history-success-items-container {

    display: inline-flex;

    .item {

      width: 950px;
      margin-top: 80px;
      margin-right: 50px;
      position: relative;

      .history-success-item-name {

        position: absolute;
        top: -60px;
        left: 237px;
        color: #ffffff;

        .name {
          font-family: "Gilroy-Medium";
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 26px;
        }
        .cat-name {
          font-family: "Gilroy-Medium";
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 26px;
        }
      }

      .img-container {

        background: #fff;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
        border-radius: 3px;

        .img {
          width: 166px;
          height: 166px;
          border: 11px solid #FFFFFF;
          border-radius: 100px;
          margin-top: -80px;
          margin-left: 39px;
        }

        .img-info {

          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 26px;
          color: #33A4D5;
          text-align: center;
        }


        .item-desc {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;

          .item-desc-more {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            color: #33A4D5;
          }
        }

      }
    }
  }

  .history-nav-container {
    display: inline-flex;
    margin-top: 30px;

    .history-nav-items-container {
      display: inline-flex;
      margin-left: 50px;

      .item {
        margin-right: 20px;
      }
    }
  }
}

.faq-container {

  margin-top: 100px;
  position: relative;

  .title {
    font-family: "Montserrat Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #085F97;
  }

  .questions-container {
    .item {
      background: rgba(214, 225, 240, 0.6);
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #3D4C68;
      margin: 2px 0px;
      padding: 20px;
      position: relative;
      cursor: pointer;

      &:after {
        background: url(./images/share-right.svg) no-repeat;
        top: 40%;
        right: 20px;
        position: absolute;
        content: "";
        width: 8px;
        height: 12px;
      }

      &.selected {
        background: #FFFFFF;

        &:after {
          background: url(./images/share-left.svg) no-repeat;
        }
      }

    }
  }

  .answer-container {

    position: relative;

    .sign1 {
      position: absolute;
      top: 0;
      right: 0;
      background: url('./images/sign1.svg') no-repeat;
      height: 48px;
      width: 60px;
    }

    .answer-title {
      font-family: "Montserrat Medium";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      color: #085F97;
      margin-bottom: 20px;
      padding-top: 10px;
    }

    .answer-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: #3D4C68;
      margin-bottom: 30px;
    }

    .send-question {

    }

  }

  .send-question-from-bg {
    position: fixed;
    background: #051127;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
  }

  .send-question-from {

    position: absolute;
    top: 0;
    color: #fff;
    height: 379px;
    background: #3D4C68;
    border-radius: 3px;
    color: #fff;
    display: none;
    margin: 0 auto;
    width: 1168px;
    z-index: 1;

    .form {
      padding-left: 60px;

      .input-name, .input-phone, .input-question {
        width: 100%;
        background: #FFFFFF;
        border-radius: 2px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #3D4C68;
      }

      .input-name {
        margin-bottom: 20px;
      }

      .input-question {
        height: 100%;
      }

      .block-buttons {
        margin-top: 45px;
      }
    }

    .title {
      font-family: "Montserrat Medium";
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 52px;
      color: #FFFFFF;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .image {
      text-align: right;
    }

    .copyright {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #FFFFFF;
    }

    .button-send {
      text-align: right;

      .wd-button {
        width: 100%;
      }
    }

  }

  .send-question-success {
    display: none;
    position: absolute;
    top: 0;
    left: 30%;
    color: #fff;
    height: 253px;
    background: #3D4C68;
    border-radius: 3px;
    margin: 0 auto;
    width: 598px;
    z-index: 1;
    padding: 40px;

    .title {
      font-family: "Montserrat Medium";
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 48px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }

    .text {
      font-family: "Gilroy-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }

    .buttons {
      .wd-button {
        width: 100%;
      }
    }
  }

  #send-question-form-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }

}


.site-footer {

  background: #051127;
  color: #fff;

  margin-top: 100px;

  .footer-creators {

    .border-line {
      opacity: 0.2;
      border-top: 1px solid #D6E1F0;
      padding-top: 22px;
    }

    padding: 0 0 26px;

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;

    .copyright-footer-logo {
      display: inline-flex;
      justify-content: flex-end;
    }

  }

  .footer-menus-container {
    padding-top: 61px;
    padding-bottom: 35px;

    .footer-site-title {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #FFFFFF;
    }

    .footer-site-description {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
    }

    .footer-contacts {
      font-family: "Open Sans Regular";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;

      .phone {
        background: url(./images/phone-icon.svg) no-repeat 0 50%;
        text-indent: 25px;
        margin-bottom: 13px;
      }

      .email {
        background: url(./images/email-icon.svg) no-repeat 0 50%;
        text-indent: 25px;
        margin-bottom: 13px;
      }

      .skype {
        background: url(./images/skype-icon.svg) no-repeat 0 50%;
        text-indent: 25px;
        margin-bottom: 13px;
      }

      .telegram {
        background: url(./images/telegram-icon.svg) no-repeat 0 50%;
        text-indent: 25px;
        margin-bottom: 13px;
      }
    }

  }

  .footer-navigation {
    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;

      li {
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }
    }

  }

}

// Все курсы меню

#menu-item-193 {
  background: url('./images/course-icon.svg') no-repeat center left;
}

.top-menu-bg {
  position: fixed;
  background: #051127;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
  z-index: 1;
  cursor: pointer;
}

.top-menu {

  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  clear: both;
  background: #fff;

  .block-1 {
    float: left;
    width: 40%;
    background: #3D4C68;

    .block-1-container {
      width: 450px;
      float: right;
      padding: 50px 0 140px;

      .close-menu {
        cursor: pointer;
      }

      .title {
        font-family: "Montserrat Medium";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        color: #FFFFFF;
      }

      .categories {

        width: 80%;

        ul {
          list-style: none;
          padding: 0;

          font-family: "Gilroy-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;

          li {
            cursor: pointer;
            color: #ffffff;
            background: url('./images/menu-arrow-white.svg') no-repeat center right;
          }

          li.selected, li:hover {
            color: #33A4D4;
            background: url('./images/menu-arrow-blue.svg') no-repeat center right;
          }
        }
      }

      .calendar {
        font-family: "Gilroy-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 100px;
      }
    }
  }

  .block-2 {
    float: right;
    width: 60%;

    .block-2-container {
      width: 735px;
      float: left;
      padding: 170px 0px 0 100px;

      ul {
        list-style: none;
        padding: 0;
        clear: both;

        li {
          float: left;
          padding-right: 40px;
          font-family: "Gilroy-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          padding-bottom: 15px;
          color: #3D4C68;
          cursor: pointer;
        }

        li.selected, li:hover {
          color: #33A4D4;
        }

        li.online-block {
          position: relative;
        }
      }

      div.line {
        height: 1px;
        width: 100%;
        background: #3D4C68;
        opacity: 0.2;
      }

      .online {
        background: url(./images/switch-on.svg) no-repeat;
        width: 44px;
        height: 22px;
        position: absolute;
        top: 4px;
      }

      .items {
        display: flex;
        flex-direction: column;
        height: 300px;
        flex-wrap: wrap;

        .item {
          width: 290px;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
          color: #3D4C68;
          margin-top: 30px;
          cursor: pointer;

          &.selected, &:hover {
            color: #33A4D4;
          }
        }
      }
    }
  }

}

.review-description-container{

  .review-description {
    font-family: "Gilroy-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3D4C68;
    margin-bottom: 50px;
  }

  .items{

    .item {

      margin-bottom: 90px;

      .info-name {

          .info-name-image {
            float: left;
          }

          .info-name-text {
            float: left;
            font-family: "Gilroy-Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #0A2555;
            margin-top: 40px;
            margin-left: 40px;
          }
      }

      .info-text {
        font-family: "Gilroy-Medium";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #3D4C68;
        margin-bottom: 20px;
      }

      .info-text-more {
        font-family: "Gilroy-Medium";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #33A4D5;
      }
    }
  }

}